<h2>Губернатор Владимирской области написал заявление об отставке</h2>
<p> Кандидат с хорошими шансами Губернатор Владимирской области Владимир Сипягин, представляющий ЛДПР, написал...</p>
<p><a href=news_1.html>Подробнее</a></p><h2>ВТБ и «Дом.РФ» запустят ипотеку для бюджетников со ставками от 2%</h2>
<p> Банк ВТБ и «Дом.РФ» с января 2022 года запустят льготную программу «Универсальная ипотека» для поддержки...</p>
<p><a href=news_2.html>Подробнее</a></p><h2>Климат доверия: как ESG-регулирование защищает инвесторов от обмана</h2>
<p> 27 ноября 2019 года Европарламент и Совет Евросоюза приняли директивы о раскрытии информации и об устойчивом...</p>
<p><a href=news_3.html>Подробнее</a></p><h2>Российская премьер-лига продаст коммерческие права отдельно от медиаправ</h2>
<p> Решение о проведении тендера, принятое Российской премьер-лигой (РПЛ), касается только медиаправ....</p>
<p><a href=news_4.html>Подробнее</a></p><h2>Роскомнадзор ответил на данные о блокировке Google Docs в России</h2>
<p> Сервис Google Docs доступен в России, а вопросы о доступности ресурсов следует адресовать их владельцам, сообщили...</p>
<p><a href=news_5.html>Подробнее</a></p><h2>Какие UX-ошибки допускают компании на новых рынках</h2>
<p> Принципы работы компьютера и головного мозга человека во всем мире одинаковы, поэтому специалистам удалось...</p>
<p><a href=news_6.html>Подробнее</a></p><h2>Какие UX-ошибки допускают компании на новых рынках</h2>
<p> Принципы работы компьютера и головного мозга человека во всем мире одинаковы, поэтому специалистам удалось...</p>
<p><a href=news_6.html>Подробнее</a></p><h2>Футболист «Спартака» и сборной России пропустит месяц из-за травмы</h2>
<p> Полузащитник «Спартака» и сборной России Роман Зобнин пропустит четыре недели из-за травмы. Об этом...</p>
<p><a href=news_7.html>Подробнее</a></p><h2>В Финляндии для удалённой работы создаются мини-офисы на деревьях</h2>
<p> В парках и природных зонах финского города Лахти открываются бесплатные станции для удаленной работы,...</p>
<p><a href=news_8.html>Подробнее</a></p>