<h2>Футболист «Спартака» и сборной России пропустит месяц из-за травмы</h2>
<p><p>Полузащитник «Спартака» и сборной России Роман Зобнин пропустит четыре недели из-за травмы. Об этом говорится в сообщении пресс-службы московского клуба, поступившем в РБК.</p>
<p>Футболист получил повреждение икроножной мышцы в матче Лиги Европы с «Легией».</p>
<p>Встреча прошла в среду в Москве с <a target="_blank" href="https://sportrbc.ru/news/61421a609a794744d37d7d70">завершилась</a> со счетом 0:1. На 24-й минуте Зобнин был заменен на Йоррита Хендрикса.</p>
<p>Всего в этом сезоне полузащитник провел 10 матчей за «Спартак» во всех турнирах и забил два гола. В сборную он вызывался на сентябрьские матчи, но сыграл лишь в одном из них — против Мальты. Всего за национальную команду 27-летний футболист провел 39 игр.</p>
</p><img src='https://s0.rbk.ru/v6_top_pics/media/img/1/39/756317834718391.jpg'/>